body{
     color: #eee;
     font-family: Poppins;
     margin: 0;
     background-image:
     /* repeating-linear-gradient(
         to right, #2d2a44 0 1px, transparent 2px 200px
     ), */
     /* repeating-linear-gradient(
         to bottom, #2d2a44 0 1px, transparent 2px 200px
     ), */
     radial-gradient(
         at 50% 50%, #2d2a44, #1d1b34 
     );
 }
header img{
     width: 150px;
 }
 header{
     width: min(1200px, 90vw);
     margin: auto;
     height: 70px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 header nav ul{
     display: flex;
     gap: 30px;
 }

 .links {
     color: #eee;
     transition: 0.5s;
 }
 
 .links:hover {
     color: #c691e6;
     cursor: pointer;
 }
 
 
 
 main{
    display: flex;
    width: 100%;
    height: 100vh; /* Example height */
  }
  .sidebar{
    flex: 2; /* 2 parts of the total ratio */
    background-color: lightblue;
  }
  .box{
    flex: 7; /* 3 parts of the total ratio */
    background-color: lightcoral;
  }
  .items{
    
    margin-top: 20px;
    
  }
  
  a{
    text-decoration: none;
  }

  .inc{
   
    display: flex;
    justify-content: space-around;
    padding: 5px;
    
  }
  .inc_{
    text-align: center;
    flex: 3;
    background-color: #1d1b34;
    border-radius: 20px;
    margin: 10px;
   
  }
 
  .select-container {
    margin-left: 10px;
    width: 200px;
    position: relative;
  }

  /* Style the select element */
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px;
    appearance: none; /* Remove default arrow styling */
    background: rgb(164, 236, 236) url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="black" d="M2 0L0 2h4z"/></svg>') no-repeat right 10px center;
    background-size: 10px;
    cursor: pointer;
    font-family: Poppins;
  }

  /* Option styles (optional, mainly browser-defined) */
  option {
    padding: 10px;
  }