:root {
  --background-dark: #2d2a44;
  --background-darker: #1d1b34;
  --text-light: #eee;
  --accent-color: #c691e6;
  --input-background: rgba(29, 27, 52, 0.1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

body {
  color: var(--text-light);
  background-image: repeating-linear-gradient(
      to right,
      var(--background-dark) 0 1px,
      transparent 2px 200px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--background-dark) 0 1px,
      transparent 2px 200px
    ),
    radial-gradient(
      at 50% 50%,
      var(--background-dark),
      var(--background-darker)
    );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: min(1200px, 90vw);
  margin: 0 auto 50px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 150px;
}

header nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.links {
  color: var(--text-light);
  text-decoration: none;
  transition: color 0.5s;
}

.links:hover {
  color: var(--accent-color);
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 35px;
  background-color: rgba(45, 42, 68, 0.5);
  background: transparent;
}

#calculator-type {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

#calculator-type button {
  border: 1px solid #afaeae55;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgba(254, 254, 254, 0.1);
  /* background-image: linear-gradient(to bottom, #eee1, transparent, #eee1); */
  cursor: pointer;
  transition: 0.5s;
}

#calculator-type button:hover {
  background-color: #c691e6;
  color: #040018;
  box-shadow: 0 0 50px #c691e6;
  font-size: 1.2rem;
}

.calculator-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

input,
button.cal {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--input-background);
  color: var(--text-light);
  border: none;
}

#lump {
  display: none;
}

.cal {
  border: 1px solid #afaeae55;
  padding: 10px 20px;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #eee1, transparent, #eee1);
  cursor: pointer;
  transition: 0.5s;
}

.cal:hover {
  background-color: #c691e6;
  color: #040018;
  box-shadow: 0 0 50px #c691e6;
  font-size: 1.2rem;
}

#sip-results,
#lumpsum-results {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
